{% extends "blog/base.html" %}
{% block content %}
    <h1>Meus dados</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {{ form.errors }}
        <button type="submit">Salvar alterações</button>
    </form>
    {% if form.non_field_errors %}
        <div class="alert alert-danger mt-3">
            {% for error in form.non_field_errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>
    {% endif %}
    {% if messages %}
        <ul class="mt-3">
            {% for message in messages %}
                <li class="alert alert-{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock content %}