{% load static %}
<div class="container">
    <div id="carouselFade" class="mb-4 mx-auto w-75 carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="mt-5 rounded-bottom shadow-sm d-none d-md-block text-center carousel-indicators bg-secondary p-3">
            <button type="button" data-bs-target="#carouselFade" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselFade" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselFade" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active carousel-height">
                <img src="{% static "blog/img/shop.png" %}" class="d-block w-100" alt="...">
                <div class="mb-5 rounded shadow-sm carousel-caption d-none d-md-block bg-secondary bg-gradient p-3">
                    <h1>First slide label</h1>
                    <p>Some representative placeholder content for the first slide.</p>
                </div>
            </div>
            <div class="carousel-item carousel-height">
                <img src="{% static "blog/img/shop2.png" %}" class="d-block w-100" alt="...">
                <div class="mb-5 rounded shadow-sm carousel-caption d-none d-md-block bg-secondary bg-gradient p-3">
                    <h1>Second slide label</h1>
                    <p>Some representative placeholder content for the first slide.</p>
                </div>
            </div>
            <div class="carousel-item carousel-height">
                <img src="{% static "blog/img/shop3.png" %}" class="d-block w-100" alt="...">
                <div class="mb-5 rounded shadow-sm carousel-caption d-none d-md-block bg-secondary bg-gradient p-3">
                    <h1>Third slide label</h1>
                    <p>Some representative placeholder content for the first slide.</p>
                </div>
            </div>
        </div>
        <button class="btn-carousel m-3 my-auto carousel-control-prev rounded shadow-sm bg-secondary bg-gradient bg-opacity-75" type="button" data-bs-target="#carouselFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
        </button>
        <button class="btn-carousel m-3 my-auto carousel-control-next rounded shadow-sm bg-secondary bg-gradient bg-opacity-75" type="button" data-bs-target="#carouselFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Próximo</span>
        </button>
    </div>
</div>