<div class="container-fluid bg-footer p-4">
    <footer class="py-5">
        <div class="row">
            <div class="col-md-2 mb-3">
                <h5>Menu</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Início</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Informações</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Contato</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Sobre</a></li>
                </ul>
            </div>

            <div class="col-md-2 mb-3">
                <h5>Localização</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Rua Quintino Bocaiúva, nº 851</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Centro - Jaú/SP</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">CEP 17202-120</a></li>
                </ul>
            </div>

            <div class="col-md-4 mb-3">
                <h5>Horário de Funcinoamento</h5>
                <p class="fw-bold">Lojas</p>
                <ul name="funcionamento-lojas" id="funcionamento-lojas" class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Segunda a sábado das 09h às 18h</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Domingos e Feriados das 09h às 12h</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Entre em contato para informações para datas especiais</a></li>
                </ul>
                <p class="fw-bold">Alimentação</p>
                <ul name="funcionamento-alimentacao" id="funcionamento-alimentacao" class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Segunda a sábado das 09h às 22h</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Domingos e Feriados das 09h às 12h</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Entre em contato para informações para datas especiais</a></li>
                </ul>
            </div>
  
            <div class="col-md-4 mb-3">
                <form>
                    <h5>Inscreva-se para receber novidades</h5>
                    <p>Obtenha um resumo sobre tudo que há de interessante.</p>
                    <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                        <label for="newsletter1" class="visually-hidden">Endereço de Email</label>
                        <input id="newsletter1" type="text" class="form-control" placeholder="Endereço de email">
                        <button class="btn btn-sm btn-primary text-nowrap" type="button">Inscrever-se</button>
                    </div>
                </form>
            </div>
        </div>
  
        <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
            <p>© {{ano_atual}} Instituição, Todos os direitos reservados. <em>- by OnyxTI</em></p>
            <ul class="list-unstyled d-flex">
                <li class="ms-3"><a class="link-body-emphasis" href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                <li class="ms-3"><a class="link-body-emphasis" href="#"><i class="fa-brands fa-instagram"></i></a></li>
                <li class="ms-3"><a class="link-body-emphasis" href="#"><i class="fa-brands fa-facebook"></i></a></li>
            </ul>
        </div>
    </footer>
</div>