{% if site_setup.show_footer %}
    <div class="container-fluid bg-footer p-5">
        <footer class="p-5 m-5">
            <div class="row">
                {% if site_setup.show_menu %}
                    <div class="col-md-2 mb-3 text-white">
                        <h5>Menu</h5>
                        <ul class="nav flex-column mt-4">
                            {% for link in site_setup.menulink_set.all %}
                                <li class="nav-item mb-2 ">
                                    {% if link.new_tab %}
                                        <a target="_blank" href="{{link.url_or_path}}" class="link p-0 text-light">{{link.text}}</a>
                                    {% else %}
                                        <a href="{{link.url_or_path}}" class="link p-0 text-light">{{link.text}}</a>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                {% if site_setup.show_location %}
                    <div class="col-md-2 mb-3 text-white">
                        <h5>Localização</h5>
                        <ul class="nav flex-column mt-4">
                            <li class="nav-item"><p href="#" class="text-light">{{site_setup.endereco|default_if_none:"Não informado"}}, Nº {{site_setup.numero|default_if_none:"S/N"}}</p></li>
                            <li class="nav-item"><p href="#" class="text-light">{{site_setup.bairro|default_if_none:"Não informado"}} - {{site_setup.cidade_estado|default_if_none:"Não informado"}}</p></li>
                            <li class="nav-item"><p href="#" class="text-light">CEP {{site_setup.cep|default_if_none:"Não informado"}}</p></li>
                        </ul>
                    </div>
                {% endif %}

                {% if site_setup.show_operate_shop or site_setup.operate_food %}
                    <div class="col-md-4 mb-3 text-white">
                        <h5>Horário de Funcionamento</h5>
                        {% if site_setup.show_operate_shop %}
                            <p class="fw-bold mt-4">Lojas</p>
                            <div class="preserve-whitespace">{{site_setup.operate_time_shop}}</div>
                        {% endif %}
                        {% if site_setup.show_operate_food %}
                            <p class="fw-bold mt-2">Alimentação</p>
                            <div class="preserve-whitespace">{{site_setup.operate_time_food}}</div>
                        {% endif %}
                    </div>
                {% endif %}
    
                {% if site_setup.show_subscribe %}
                    <div class="col-md-4 mb-3 text-light">
                        <form>
                            <h5>Inscreva-se para receber novidades</h5>
                            <p>Obtenha um resumo sobre tudo que há de interessante.</p>
                            <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                                <label for="newsletter1" class="visually-hidden">Endereço de Email</label>
                                <input id="newsletter1" type="text" class="form-control" placeholder="Endereço de email">
                                <button class="btn btn-sm btn-secondary text-nowrap" type="button">Inscrever-se</button>
                            </div>
                        </form>
                    </div>
                {% endif %}
            </div>
            
            <div class="d-flex flex-column flex-sm-row justify-content-between pt-4 mt-4 border-top text-light">
                <p>© {{ano_atual}} Instituição - {{site_setup.title}}, Todos os direitos reservados. <em>- by OnyxTI</em></p>
                {% if site_setup.show_social %}
                    <ul class="list-unstyled d-flex text-light">
                        {% if site_setup.x_twitter %}
                            <li class="ms-3"><a class="link" href="{{site_setup.x_twitter}}"><i class="fa-brands fa-x-twitter fs-2"></i></a></li>
                        {% endif %}
                        {% if site_setup.instagram %}
                            <li class="ms-3"><a class="link" href="{{site_setup.instagram}}"><i class="fa-brands fa-instagram fs-2"></i></a></li>
                        {% endif %}
                        {% if site_setup.facebook %}
                            <li class="ms-3"><a class="link" href="{{site_setup.facebook}}"><i class="fa-brands fa-facebook fs-2"></i></a></li>
                        {% endif %}
                        {% if site_setup.youtube %}
                            <li class="ms-3"><a class="link" href="{{site_setup.youtube}}"><i class="fa-brands fa-youtube fs-2"></i></a></li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
        </footer>
    </div>
{% endif %}