{% if site_setup.show_header %}
{% load static %}
    <header class="py-4 mb-5 border-bottom bg-header">
        <div class="container">
            <div class="container d-flex flex-wrap justify-content-center mb-sm-4">
                <a href="/" class="d-flex flex-column align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none">
                    {% if site_setup.show_logo %}
                        <div>
                            {% if site_setup.logo %}
                                <img src="{{site_setup.logo.url}}" class="d-block mx-lg-auto img-fluid" alt="{{site_setup.title}}" loading="lazy">
                            {% else %}
                                <img src="{% static "blog/img/ops.png" %}" class="d-block mx-lg-auto img-fluid" width="100" height="50" alt="OPS !" loading="lazy">
                            {% endif %}
                        </div>
                    {% endif %}
                    <span class="fs-1 fw-bold text-shadow-sm text-white">{{site_setup.title}}</span>
                    <span class="fs-4 fst-italic text-white">{{site_setup.description}}</span>
                </a>
                {% if site_setup.show_search %}
                    <form class="col-12 col-lg-auto mb-3 mb-lg-0" role="search" action="{% url "blog:search" %}" method="GET">
                        <input id="search-all" name="search-all" type="search" class="form-control" placeholder="Pesquisar lojas ..." aria-label="Search" value="{{search_value}}">
                    </form>
                {% endif %}
            </div>
        </div>
        <nav class="py-3 border-top border-bottom bg-nav shadow">
            <div class="container d-flex flex-wrap">
                {% if site_setup.show_menu %}
                    <ul class="nav me-auto">
                        {% for link in site_setup.menulink_set.all %}
                            <li class="nav-item">
                                {% if link.new_tab %}
                                    <a target="_blank" href="{{link.url_or_path}}" class="link fs-4 px-2">{{link.text}}</a>
                                {% else %}
                                    <a href="{{link.url_or_path}}" class="link fs-4 px-2">{{link.text}}</a>
                                {% endif %}
                            </li>
                        {% endfor %}
                        <li class="nav-item">
                            <a class="link fs-4 px-2 dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Lojas</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url "blog:shops" %}">Todas</a></li>
                                {% for category in category %}
                                    <li><a class="dropdown-item" href="{% url "blog:category" category.slug %}">{{category.name}}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                {% endif %}
                {% if site_setup.show_login %}
                    {% if user.is_authenticated is not True %}
                        <ul class="nav">
                            <li class="nav-item my-auto"><i class="text-white fa-regular fa-user fs-5 px-2"></i></li>
                            <li class="nav-item"><a href="{% url "blog:login" %}" class="link fs-4 px-2">Entrar</a></li>
                            <div class="vr text-light mx-2"></div>
                            <li class="nav-item"><a href="{% url "blog:create_user" %}" class="link fs-4 px-2">Registrar</a></li>
                        </ul>
                    {% else %}
                        <ul class="nav">
                            <li class="nav-item my-auto"><i class="text-white fa-regular fa-user fs-5 px-2"></i></li>
                            <li class="nav-item">
                                <a class="link fs-4 px-2 dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Minha Conta</a>
                                <ul class="dropdown-menu">
                                    {% if user.is_staff and user.is_authenticated %}
                                        <li><a class="dropdown-item" href="{% url "blog:admin_dashboard" %}">Administração</a></li>
                                    {% endif %}
                                    <li><a class="dropdown-item" href="{% url "blog:edit_user" user.pk %}">Dados Pessoais</a></li>
                                    <li><a class="dropdown-item" href="{% url "blog:change_password" user.pk %}">Alterar Senha</a></li>
                                    <li><a class="dropdown-item" href="{% url "blog:logout" %}">Sair</a></li>
                                </ul>
                            </li>
                        </ul>
                    {% endif %}
                {% endif %}
            </div>
        </nav>
    </header>
    {% include "blog/partials/_messages.html" %}
{% endif %}