{% load static %}
{% if site_setup.show_news %}
    <div class="container px-4 py-5" id="custom-cards">
        <h2 class="pb-2 border-bottom bg-dark-blue text-white p-2">ÚLTIMAS NOVIDADES</h2>
        {% if news %}
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4 mt-4">
                {% for new in news %}
                    <div class="col">
                        <div class="card h-100 shadow-sm">
                            <a href="{% url "blog:new" new.slug %}"  class="text-decoration-none h-100">
                                <img src="{{ new.cover.url }}" class="h-100 img-fluid rounded-top" alt="{{new.cover_caption}}">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title">{{new.title}}</h5>
                                <p class="card-text">{{new.short_description}}</p>

                            </div>
                            <div class="card-footer">
                                <div class="d-flex justify-content-center">
                                    <a href="#" class="text-decoration-none fs-4"><em>Saiba mais ...</em></a>
                                </div>
                                <hr>
                                <ul class="d-flex list-unstyled mb-0 mt-auto">
                                    <li class="me-auto">
                                        <i class="fa-regular fa-newspaper fs-2 mx-2"></i>
                                    </li>
                                    <li class="d-flex align-items-center me-3">
                                        <small>Comentários</small>
                                    </li>
                                    <li class="d-flex align-items-center">
                                        <small>Atualizada em: {{new.updated_at}}</small>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% else %}
    <h1 class="bg-danger text-white text-center">Sem Novidades !</h1>
{% endif %}