{% load static %}
<div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom bg-dark-blue text-white p-2">NOVIDADES</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4 mt-4">
        <div class="col">
            <div class="card h-100">
                <img src="{{ site_setup.slide2.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Título do Novidades</h5>
                    <p class="card-text">Breve descrição</p>
                    <div class="d-flex justify-content-center">
                        <a href="#" class="text-decoration-none fs-4"><em>Saiba mais ...</em></a>
                    </div>
                </div>
                <div class="card-footer">
                    <ul class="d-flex list-unstyled mb-0 mt-auto">
                        <li class="me-auto">
                            <i class="fa-regular fa-newspaper fs-2"></i>
                        </li>
                        <li class="d-flex align-items-center me-3">
                            <small>Comentários</small>
                        </li>
                        <li class="d-flex align-items-center">
                            <small>Data</small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>