{% load static %}
{% if site_setup.show_best_banner %}
    <div class="text-primary m-5">
        <hr>
    </div>
    <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
        <div class="col-lg-6 px-0 text-center mx-auto">
            <h1 class="display-4 fst-italic">{{site_setup.title_best_banner}}</h1>
            <p class="lead my-3">{{site_setup.best_banner}}</p>
            <p class="lead mb-0"><a href="#" class="text-body-emphasis fw-bold">{{site_setup.link_best_banner}}</a></p>
        </div>
    </div>
{% endif %}
<div class="text-primary m-5">
    <hr>
</div>

<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <h2 class="pb-2 border-bottom bg-dark-blue text-white p-2 mb-5">LOJAS</h2>
        <div class="d-flex justify-content-center">
            {% include "blog/partials/_pagination.html" %}
        </div>
            {% for loja in lojas %}
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 my-2">
                    <div class="col">
                        <div class="card shadow-sm">
                            <a href="#" class="text-decoration-none">
                            <div class="card-img-top bg-dark-subtle text-light w-100 d-flex justify-content-center align-items-center">
                                {% if loja.cover %}
                                    <img src="{{loja.cover.url}}" class="d-block mx-lg-auto img-fluid rounded-top" alt="{{loja.title}}" loading="lazy">
                                {% else %}
                                    <img src="{% static "blog/img/ops.png" %}" class="d-block mx-lg-auto img-fluid rounded-top" alt="{{loja.title}}" loading="lazy">
                                {% endif %}
                            </div>
                            </a>

                            <div class="card-body">
                                <h5>{{loja.title}}</h5>
                                <p class="card-text">{{loja.short_description}}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="d-flex flex-row flex-wrap align-items-center">
                                        <a href="#" type="button" class="text-decoration-none btn btn-sm btn-outline-secondary me-2">Ver mais</a>
                                        <div>
                                            {% if loja.whatsapp %}
                                                <a class="fs-4 text-decoration-none"
                                                    href="https://wa.me/55{{loja.whatsapp}}?text=Olá,%20gostaria%20de%20mais%20informações%20sobre%20os%20seus%20serviços"
                                                    target="_blank">
                                                    <i class="fa-brands fa-whatsapp whatsapp rounded p-1"></i>
                                                </a>
                                            {% endif %}
                                            {% if loja.facebook %}
                                                <a class="fs-4 text-decoration-none" href="{{loja.facebook}}" target="_blank">
                                                    <i class="fa-brands fa-facebook facebook rounded p-1"></i>
                                                </a>
                                            {% endif %}
                                            {% if loja.x_twitter %} 
                                                <a class="fs-4 text-decoration-none" href="{{loja.x_twitter}}" target="_blank">
                                                    <i class="fa-brands fa-x-twitter x-twitter rounded p-1"></i>
                                                </a>
                                            {% endif %}
                                            {% if loja.instagram %}
                                                <a class="fs-4 text-decoration-none" href="{{loja.instagram}}" target="_blank">
                                                    <i class="fa-brands fa-instagram instagram rounded p-1"></i>
                                                </a>
                                            {% endif %}
                                            {% if loja.youtube %}
                                                <a class="fs-4 text-decoration-none" href="{{loja.youtube}}" target="_blank">
                                                    <i class="fa-brands fa-youtube youtube rounded p-1"></i>
                                                </a>
                                            {% endif %}
                                            {% if loja.site %}
                                                <a class="fs-4 text-decoration-none" href="{{loja.site}}" target="_blank">
                                                    <i class="fa-solid fa-globe globe rounded p-1"></i>
                                                </a>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <small class="text-body-secondary">Atualizada em: {{loja.update_at}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        <div class="d-flex justify-content-center">
            {% include "blog/partials/_pagination.html" %}
        </div>
    </div>
</div>


